@{
    ViewBag.Title = "Home Page";
}

<h2>Send Log Report</h2>

<div class="container">
    <div class="row">
        
    </div> <!-- end row -->
    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-md-6">
                    <form class="form-vertical" role="form" action="@Url.Action("Index")"  method="post" id="contactForm">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input type="text" id="name" name="name" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="example-email">Phone Number</label>
                            <div class="col-md-10">
                                <input type="text" id="phone" name="phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Email" id="email" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Message</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="message" name="message">
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end row -->
        </div> <!-- end col -->
    </div>
</div>


@Html.ActionLink("Log4net", "Log4net", new {})